! special
*.foreground:   #d0d0c3
*.background:   #0d0d0b
*.cursorColor:  #d0d0c3

! black
*.color0:       #161614
*.color8:       #58ae81

! red
*.color1:       #1f1f1c
*.color9:       #86c6a2

! green
*.color2:       #30302c
*.color10:      #e5a5d0

! yellow
*.color3:       #484843
*.color11:      #81adb4

! blue
*.color4:       #66655f
*.color12:      #db744d

! magenta
*.color5:       #8a8a81
*.color13:      #daa092

! cyan
*.color6:       #b4b4a8
*.color14:      #deaa9d

! white
*.color7:       #e3e3d5
*.color15:      #c7c56b

!! URxvt Appearance
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 400x240
URxvt.internalBorder: 12
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: false
URxvt.depth: 24
URxvt.iso14755: false

URxvt.font: xft:monospace:size=10
