* {
    font-family: Noto;
    font-size: 12px;
    margin: 0 0 0 0;
}

window#waybar {
    background-color: rgba(50,50,50,0.7);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery {
}

#battery.charging, #battery.plugged {
	color: lightgreen;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction:alternate;
}


@keyframes blink {
    to {
        color: #FFFFFF;
    }
}

@keyframes fade {
	to {
		opacity: 1.0;
	}
}

#battery.critical:not(.charging) {
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
	color: yellow;
    	animation-name: blink;
    	animation-duration: 0.5s;
	animation-timing-function: steps(12);
    	animation-iteration-count: infinite;
    	animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#memory.warning {
	color: yellow;
    	animation-name: blink;
    	animation-duration: 0.5s;
	animation-timing-function: steps(12);
    	animation-iteration-count: infinite;
    	animation-direction: alternate;
}

#memory.critical {
	color: red;
    	animation-name: blink;
    	animation-duration: 0.5s;
	animation-timing-function: steps(12);
    	animation-iteration-count: infinite;
    	animation-direction: alternate;
}

#network {
}

#wifi.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
    color: salmon;
}

#wireplumber {
}

#wireplumber.muted {
    color: red;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#scratchpad {
}

#scratchpad.empty {
}
